version: "3.9"
services:
  mongodb:
    image: mongo:7
    container_name: workforce-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: workforce
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
